body{
    background-color:rgb(255, 227, 227);
}
header{
    display: flex;
}
h1{
    color: rgb(250, 103, 129);
    font-size: 50px;
    text-align: center;
}
p{
    color: rgb(129, 11, 56);
    font-size: 30px;
    text-align: center;
}
img{
    width: 15%;
    margin-left: 570px;
}